services:
  apps:
    build:
      context: .
      dockerfile: docker/apps/Dockerfile
    working_dir: /usr/src
    ports:
      - "3000:3000"
      - "4000:4000"

  test-db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    container_name: test-db
    ports:
      - "5433:5432"
    environment:
      - AWS_VAULT
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_REGION
    deploy:
      resources:
        limits:
          memory: 256m
    profiles:
      - test
