services:
  apps:
    build:
      args:
        BUILD_ENV: development
    image: ${AWS_PROFILE:-family-tree-app}
    container_name: ${AWS_PROFILE:-family-tree-app}
    ports: !override
      - "3000:3000"
      - "4000:4000"
    volumes:
      - ./apps:/usr/src/apps
      - ${HOME}/.aws:/root/.aws:ro
    environment:
      - APP_ENV
      - AWS_PROFILE

  test-db:
    volumes:
      - ${HOME}/.aws:/root/.aws:ro
    environment:
      - APP_ENV
      - AWS_PROFILE

  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    image: db
    container_name: family-tree-shared-db
    ports:
      - "5432:5432"
    volumes:
      - ${HOME}/.aws:/root/.aws:ro
    environment:
      - APP_ENV
      - AWS_PROFILE

networks:
  default:
    name: my-family-tree-shared
    external: true
